<div class="w-25 m-auto">
    <h1><%= @restaurant.name %></h1>
    <h3><%= @restaurant.address %></h3>
</div>

<div data-controller="add-review">
    <div data-add-review-target="list">
        <% @restaurant.reviews.each do |review| %>
            <%= render "restaurants/review", review: review %>
        <% end %>
    </div>

    <%= simple_form_for([@restaurant, @review], data: {add_review_target: "form", 
        action: "submit->add-review#send" }) do |f| %>
        <%= f.input :content %>
        <%= f.submit %>
    <% end %>
</div>